@using NationalUnion.Application.Commons
@using NationalUnion.Web.HtmlHelpers
@{
    ViewBag.Title = "ShareDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="List">
    <div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
    <div>
        <input id="txtStartTime" type="text" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" style="height: 22px; text-align: center; margin: 3px 5px 0 0; width: 140px;" />
        <input id="txtEndTime" type="text" class="easyui-datebox" data-options="formatter:myformatter,parser:myparser" style="height: 22px; text-align: center; margin: 3px 5px 0 0; width: 140px;" />
    </div>
    <div class="mvctool">
        <input id="txtQuery" type="text" value="输入*用户名*关键字" onfocus="if(value=='输入*用户名*关键字') {value='';}" onblur="if(value=='') {value='输入*用户名*关键字';}" style="text-align: center;" class="searchText">
        @Html.DropDownList("SharedPlatformStr", (List<SelectListItem>)ViewData["SharedPlatform"], new { style = "height:22px; float:left; margin: 3px 5px 0 0; width: 120px;" })
        @Html.DropDownList("SharedClientTypeStr", (List<SelectListItem>)ViewData["SharedClientType"], new { style = "height:22px; float:left; margin: 3px 5px 0 0; width: 120px;" })
        @Html.DropDownList("OrderTypeStr", (List<SelectListItem>)ViewData["OrderType"], new { style = "height:22px; float:left; margin: 3px 5px 0 0; width: 120px;" })
        @Html.ToolButton("btnQuery", "icon-search", "查询", true)
    </div>
</table>

<script type="text/javascript">
    $(function () {
        $('#List').datagrid({
            url: '/ShareDetail/GetShareDetailList',
            width: $(window).width() - 10,
            methord: 'post',
            height: $(window).height() - 60,
            fitColumns: true,
            sortName: 'OrderOccurTime',
            sortOrder: 'desc',
            idField: 'OrderId',
            pageSize: 20,
            pageList: [10, 20, 30, 40, 50],
            pagination: true,
            striped: true,
            singleSelect: true,
            rownumbers: true,
            columns: [
                [
                    { field: 'OrderId', title: '订单号', width: 30 },
                    { field: 'ProductSkuId', title: '商品编号', width: 30 },
                    { field: 'CategoryId', title: '三级类别编号', width: 30 },
                    { field: 'CategoryName', title: '三级类别', width: 30 },
                    { field: 'CategoryParentName', title: '二级类别', width: 30 },
                    { field: 'CategoryFinalName', title: '一级类别', width: 40 },
                    { field: 'ProductPrice', title: '商品单价', width: 20, sortable: true },
                    { field: 'ProductNumber', title: '商品数量', width: 20, sortable: true },
                    { field: 'ProductName', title: '商品名称', width: 80, sortable: true },
                    { field: 'ProductPriceAmount', title: '商品总额', width: 30, sortable: true },
                    { field: 'ProductSite', title: '下单类型', width: 20 },
                    { field: 'IsCoupon', title: '是否优惠券', width: 25 },
                    { field: 'SharedUserId', title: '分享用户编号', width: 30 },
                    { field: 'SharedUserName', title: '分享用户', width: 30 },
                    { field: 'ShareLevel', title: '分享等级', width: 20 },
                    { field: 'Commission', title: '预计佣金', width: 20, sortable: true },
                    { field: 'CommissionRatio', title: '佣金比例', width: 20, sortable: true },
                    { field: 'PlatformName', title: '分享平台', width: 20 },
                    { field: 'SharedClient', title: '分享途径', width: 20 },
                    { field: 'OrderOccurTime', title: '下单时间', width: 40, sortable: true }
                ]
            ]
        });
    });
</script>

<script type="text/javascript">
    function myformatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        var d = date.getDate();
        return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
    }
    function myparser(s) {
        if (!s) return new Date();
        var ss = (s.split('-'));
        var y = parseInt(ss[0], 10);
        var m = parseInt(ss[1], 10);
        var d = parseInt(ss[2], 10);
        if (!isNaN(y) && !isNaN(m) && !isNaN(d)) {
            return new Date(y, m - 1, d);
        } else {
            return new Date();
        }
    }

    // 设置初始值
    $(function () {
        var current = new Date();
        $("#txtStartTime").datebox("setValue", myformatter(current));
        $("#txtEndTime").datebox("setValue", myformatter(current));
    });

    function formatDate(date) {
        return date.getFullYear() + "-" + (date.getMonth()) + "-" + date.getDate();
    }
</script>

<script type="text/javascript">
    // 自动DataGrid，从第一次加载与重置窗体大小时候发生的事件：分部视图
    $(function () {
        $(window).resize(function () {
            $('#List').datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 60
            }).datagrid('resize', {
                width: $(window).width() - 10,
                height: $(window).height() - 60
            });
        });
    });
</script>

<script type="text/javascript">
    // iframe 返回
    function frameReturnByClose() {
        $("#modalwindow").window('close');
    }

    // iframe 返回并刷新
    function frameReturnByReload(flag) {
        if (flag)
            $("#List").datagrid('load');
        else
            $("#List").datagrid('reload');
    }

    // 输出信息
    function frameReturnByMes(mes) {
        $.messageBox5s('提示', mes);
    }

    // 生成唯一Guid
    function GetGuid() {
        var s4 = function () {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        };
        return s4() + s4() + s4() + "-" + s4();
    }

    $(function () {
        $("#btnQuery").click(function () {
            var queryStr = $('#txtStartTime').datebox("getValue") + "/" + $('#txtEndTime').datebox("getValue") + "/" + $('#txtQuery').val() + "/" + $('#SharedPlatformStr').val() + "/" + $('#SharedClientTypeStr').val() + "/" + $("#OrderTypeStr").val();
            $('#List').datagrid({ url: '/ShareDetail/GetListByQuery?queryStr=' + encodeURI(queryStr) });
        });
    });
</script>
